.link {
  margin: 1em 0 0 2em;
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1a1a1a;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  height: 3.75em;
  min-width: 3.75em;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.link:disabled {
  pointer-events: none;
}

.link:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.link:active {
  box-shadow: none;
  transform: translateY(0);
}

.form {
  margin-top: 4em;
  margin-left: 35%;
  width: 20em;
  height: 40em;
  border-radius: 10px;
  box-shadow: 5px 5px 3px 7px rgba(0, 0, 0, 0.25),
    5px 5px 3px 7px rgba(0, 0, 0, 0.22);
  transition: 0.8s;
  background-color: rgba(182, 153, 153, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.elements {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.countrySelector {
  width: 250px;
}

.searchActivity {
  margin-top: 3px;
  width: 200px;
  height: 30px;
  background: #dee2eb;
  border: none;
  font-size: 10pt;
  float: right;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
}

.btn {
  margin-bottom: 0px;
  width: 130px;
  height: 35px;
  background-color: rgba(221, 208, 208, 0.5);
  border: 15px;
  font-size: 10pt;
  color: rgba(255, 255, 255, 0.925);
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.activityName {
  margin: 30px auto;
  margin-top: 1px;
  margin-left: -470px;
  width: 25%;
  height: 370px;
  border-radius: 10px;
  box-shadow: 5px 5px 3px 7px rgba(0, 0, 0, 0.25),
    5px 5px 3px 7px rgba(0, 0, 0, 0.22);
  transition: 0.8s;
  background-color: rgba(15, 8, 54, 0.932);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
}

.btnClose {
  border-radius: 10px;
  cursor: pointer;
}

.btnHome {
  font-family: monospace;
  text-decoration: none;
  margin-left: 145px;
  width: 130px;
  height: 40px;
  background-color: rgba(37, 24, 24, 0.801);
  border: 15px;
  font-size: 20pt;
  color: rgba(234, 234, 240, 0.801);
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 60px;
  width: 150px;
  cursor: pointer;
  padding: 7px 10px;
  height: 22px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Quicksand", Tahoma, sans-serif;
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;

  transition: all 0.25s ease;
}

.select select::-ms-expand {
  display: none;
}

.selectSeason {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 7px 10px;
  width: 180px;
  height: 42px;
  margin-left: 60px;
  cursor: pointer;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Quicksand", Tahoma, sans-serif;
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;

  transition: all 0.25s ease;
}

.selectSeason selectSeason::-ms-expand {
  display: none;
}

.btnCrear {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 30px;
  width: 250px;
  height: 42px;
  cursor: pointer;
  padding: 7px 10px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Quicksand", Tahoma, sans-serif;
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
}

.selectDifficulty {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 150px;
  margin-left: 75px;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Quicksand", Tahoma, sans-serif;
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
}

.selectCountry {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 180px;
  margin-left: 60px;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Quicksand", Tahoma, sans-serif;
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
}

.inputCountry {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 70px;
  width: 130px;
  cursor: pointer;
  padding: 7px 10px;
  height: 25px;
  outline: 0;
  border: 20%;
  background: #f0f0f0;
  color: #f30000;
  font-size: 1em;
  color: rgb(95, 90, 90);
  font-family: "Quicksand", Tahoma, sans-serif;
  border: 2px solid rgba(8, 7, 7, 0.527);
  border-radius: 12px;
}


@media screen and (max-width: 1023px) {
  .link {
    margin-top: 3em;
    margin-left: 45%;
  }
  .form {
    margin-left: 35%;
  }

}

@media screen and (max-width: 769px) {
  .link {
    margin-left: 40%;
  }
  .form {
    margin-left: 27%
  }
  
}

@media screen and (max-width: 500px) {
  .link {
    margin-left: 35%;
  }
  .form {
    margin-left: 15%
  }
  
}