.container {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.container div select {
  text-align: center;
  width: 15em;
  height: 2em;
  margin-left: 1em;
  /* border-radius: .9375em; */
  border: 0.2em solid #1a1a1a;
  background-color: transparent;
  cursor: pointer;
}
