.wrapper {
  display: flex;
  flex-direction: row;
}

.box {
  width: 95vw;
  height: 50em;
  display: flex;
  flex-wrap: row wrap;
  align-items: center;
}

.container {
  margin-top: 8em;
  margin-left: 8em;
  width: 40%;
  height: 70%;
  border-radius: 10px;
  box-shadow: 5px 5px 3px 7px rgba(0, 0, 0, 0.25),
    5px 5px 3px 7px rgba(0, 0, 0, 0.22);
  transition: 0.8s;
  background-color: rgba(221, 208, 208, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: scroll;
}

.container p {
  text-align: center;
}

.textNull {
  margin-bottom: 20em;
}

.link {
  margin-top: 15em;
  width: 4vw;
  height: 7vh;
  text-align: center;
  font-size: 1.5rem;
  padding: .5em;
  background-color: rgba(15, 8, 54, 0.623);
  color: rgba(255, 255, 255, 0.925);
  border-radius: 50%;
}

@media screen and (max-width: 1023px) {
  .box {
    flex-direction: column;
    margin-left: 1em;
  }
  .container {
    margin: 2em;
    width: 55vw;
  }
  .link {
    width: 7vh;
    position: fixed;
  }
}