.wrapper{
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.container {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1.5em;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 5vh;
}

.search div {
  align-self: center;
}

.link {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1a1a1a;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3em;
  min-width: 0;
  outline: none;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.link:disabled {
  pointer-events: none;
}

.link:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-.5em);
}

.link:active {
  box-shadow: none;
  transform: translateY(0);
}

@media screen and (max-width: 1023px) {
  .wrapper {
    margin-bottom: 300px;
  }
  .container {
    height: 20em;
    display: flex;
    flex-flow: column;
  }
  .container div {
    margin-top: 1em;
  }
  .container :nth-child(2) {
    order: 2;
  }
}